/* Header Styling */
nav {
    background-color: #343a40; /* Dark gray background */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav .navbar-brand {
    font-size: 1.5em;
    margin-right: 20px; /* Adds space between brand and other links */
}

/* Footer Styling */
footer {
    
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.modal-content {
    max-height: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Table Styling */
table {
    width: 100%;
    background-color: #fff; 
    border-collapse: collapse; 
}

table th, table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; 
}

table th {
    background-color: #f4f4f4; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

img {
    width: 100px;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 23%;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

